body {
    background: url("../../kikoi.jpg");
}

#main {
    padding: 2% 5%;
    margin: 2% 10%;
    background: #55676c;
    border-radius: 20px;
    color: #FFD29D;
}

a {
    text-decoration: none !important;
}

#banner {
    background: #FFD700;
    color: #55676c;
    font-size: 50px;
    border: 5px solid #AB3939;
    text-align: center;
    /*width: 100%;*/
    padding: 5%;
    margin: 2% auto;
    width: 70%;
    border-radius: 10px;
}

#banner td {
    vertical-align: middle;
}

#banner img {
    /*height: 50px;*/
    /*vertical-align: middle;*/
    background: white;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 2%;
    color: #F7DB8E;
}

a {
    color: #FF9800;
}