* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    background: url("../../kikoi.jpg");
}

#header {
    margin: 20px;
    padding: 20px;
    background: #CEA899;
    color: #55676c;
    border-radius: 20px;
}

#search, #controls {
    width: 46%;
    margin: 2%;
    display: block;
}

#back, #next, #search a {
    border-radius: 1%;
    background: #F7DB8E;
    color: #FF9800;
    border: none;
    padding: 1%;
}

#search {
    float: left;
}

#controls {
    float: right;
    text-align: right;
}

#header h3 {
    padding: 0 2%;
    font-weight: normal;
}

.wheel-card {
    display: block;
    float: left;
    margin: 2%;
    background-color: #FFFFE0;
    color: #627149;
    border-radius: 10%;
}

.human {
    background-image: url(../../human.png);
    background-repeat: no-repeat;
}

.random {
    background-image: url(../../robot.png);
    background-repeat: no-repeat;
}

.wheel-card .code {

}

.wheel-card .wheel {

}
